@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.footer_wrap, .main_contact-form_item, .main_contact-form_row, .main_contact-form_wrap, .main_contact-form_box, .main_contact-form, .main_reviews_container, .main_clients_box a, .main_clients_row, .main_about_button, .main_about_wrap, .main_about_container, .main_case_box, .main_case_row, .main_services_box, .main_services_row, .banner_contact-form_item, .banner_contact-form_row, .main_banner_container_right, .main_banner, .header_top_buttons, .header_top_contacts, .header_top_email, .header_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/*index.html -------------------*/
/*HEADER*/
.header_wrap {
  width: 1180px;
  margin: 0 auto;
  justify-content: space-between;
  height: 100%;
}

.header_top {
  height: 60px;
  background-color: #fff;
  color: #000;
}
.header_top a {
  color: #000;
}
.header_top .button {
  color: #fff;
}

.header_top_phone_1 {
  margin-bottom: 8px;
}

.header_icon {
  height: 28px;
  padding-right: 8px;
}

.header_top_widget {
  padding-left: 100px;
}

.header_top_button {
  margin-left: 30px;
}
.header_top_button .button {
  display: block;
  background: linear-gradient(274.04deg, #FC496A 51.23%, rgba(245, 8, 94, 0.88) 117.26%);
  box-shadow: 0px 4px 10px rgba(252, 74, 106, 0.48);
  color: #ffffff;
  border: 0;
  width: auto;
  height: 35px;
  line-height: 35px;
  border-radius: 35px;
  padding: 0 20px;
}
.header_top_button .button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header_bottom {
  height: 60px;
  background-color: #000;
  color: #fff;
}
.header_bottom a {
  color: #fff;
}

.header_logo {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 20px;
}
.header_logo span {
  font-size: 10px;
  line-height: 12px;
}

.header_menu li {
  display: inline;
  padding-right: 10px;
}
.header_menu li:hover {
  text-decoration: underline;
}

/*Main*/
.main_wrap {
  width: 1180px;
  margin: 0 auto;
}

.main_banner {
  width: 1180px;
  margin: 0 auto;
  height: 100%;
}

.main_banner_container_left {
  width: 40%;
  height: 100vh;
}
.main_banner_container_left p {
  font-weight: 800;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  margin-right: -100px;
}
.main_banner_container_left p span {
  color: #42217a;
}

.banner_husky {
  position: relative;
  height: 84%;
  padding-left: 40px;
}

.banner_uzor {
  position: absolute;
  height: 450px;
  z-index: 1;
  left: 270px;
  top: 220px;
}

.main_banner_container_right {
  background-image: url("../source/img/fon_formi.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 60%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.main_banner_box {
  width: 59%;
  margin-left: 110px;
  margin-top: 150px;
}

.main_banner_text {
  font-weight: 600;
}

.big_text {
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 20px;
}
.big_text span {
  color: #42217a;
}

.banner_contact-form_row {
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.banner_contact-form_item {
  margin-bottom: 15px;
  flex: 0 0 50%;
  max-width: 49%;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  align-content: flex-start;
}

.main_banner_box_2 {
  margin-bottom: 10px;
  font-weight: 600;
}

.main_banner_arrow {
  position: absolute;
  z-index: 3;
  right: 550px;
  top: 470px;
}
.main_banner_arrow img {
  height: 205px;
  width: auto;
}

.main_banner_arrow_text {
  margin-left: -30px;
}

.banner_callback-form-main input, .banner_callback-form-main textarea {
  box-sizing: border-box;
  max-width: 350px;
  font-size: 14px;
  height: 18px;
  width: 100%;
  border: 1px solid #42217a;
  border-radius: 10px;
  padding: 20px 15px;
  background-color: #fff;
  outline: none;
}

.banner_callback-form-main input.btn-input__submit {
  color: #fff;
  font-weight: bold;
  width: 100%;
  padding: 18px 15px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  max-width: 450px;
  margin: 0;
  max-height: 70px;
  height: 100%;
  box-sizing: border-box;
  line-height: 1.3;
  background: linear-gradient(91.79deg, #3A1268 50.21%, rgba(89, 34, 137, 0.63) 103.14%);
  box-shadow: 0px 7.98722px 29.9521px rgba(58, 18, 104, 0.78);
  border-radius: 9.98402px;
}

input[type=checkbox] {
  display: none;
}

.label_checkbox {
  font-size: 14px;
  color: #646365;
  font-weight: 600;
}

.label_checkbox:before {
  cursor: pointer;
  content: " ";
  color: #fff;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  text-align: center;
  width: 18px;
  height: 18px;
  background: #fff;
  vertical-align: middle;
  border-radius: 3px;
}

input:checked + .label_checkbox:before {
  content: "";
  font-family: "icomoon";
  background-color: #42217a;
}

/* Услуги */
.main_wrap_color {
  padding-bottom: 60px;
  width: 100%;
  background-color: #f5f5f5;
}

.main_title {
  padding: 60px 0 60px 20px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.main_services {
  width: 100%;
  text-align: center;
}

.main_services_container {
  color: #3a3a3a;
}

.main_services_row {
  justify-content: space-between;
  margin-top: 20px;
}

.main_services_box {
  /*border: solid 2px #3a3a3a;*/
  border-radius: 5px;
  width: 370px;
  height: 200px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 30px;
  flex-wrap: wrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
  position: relative;
  z-index: 1;
}
.main_services_box p {
  position: relative;
  z-index: 3;
}

.main_services_box_image {
  position: absolute;
  z-index: 2;
}

.main_services_box_1 {
  background-color: #000;
  color: #fff;
}

.main_services_box_2 {
  background: linear-gradient(302.67deg, #502B7B 34.56%, rgba(58, 18, 104, 0.47) 95.21%);
  color: #fff;
}

.main_services_box_image_2 {
  left: 10px;
}

.main_services_box_3 {
  background-color: #fff;
  color: #000;
}

.main_services_box_4 {
  background: linear-gradient(302.67deg, #502B7B 34.56%, rgba(58, 18, 104, 0.47) 95.21%);
  color: #fff;
}

/*.main_services_box_image_4 {
    background-image: url("../source/img/services/monitor\ 1.png");
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}*/
.main_services_box_5 {
  background-color: #fff;
  color: #000;
}

.main_services_box_6 {
  background-color: #000;
  color: #fff;
}

.main_services_box_7 {
  background-color: #000;
  color: #fff;
}

.main_services_box_8 {
  background: linear-gradient(302.67deg, #502B7B 34.56%, rgba(58, 18, 104, 0.47) 95.21%);
  color: #fff;
}

.main_services_box_image_8 {
  left: 160px;
}

.main_services_box_9 {
  background-color: #fff;
  color: #000;
}

/*Наши кейсы*/
.main_case {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.main_case_row {
  justify-content: space-between;
  margin-top: 20px;
}

.main_case_box {
  /*border: solid 2px #3a3a3a;*/
  position: relative;
  border-radius: 5px;
  width: 30%;
  height: 200px;
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main_case_box_content {
  position: relative;
  text-align: center;
}
.main_case_box_content a {
  text-transform: uppercase;
  line-height: 30px;
  font-size: 24px;
}
.main_case_box_content p {
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
}

.main_case_box_1 {
  background-image: url("../source/img/case/ADENT.BY.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}
.main_case_box_1 a {
  color: #000;
}
.main_case_box_1 p {
  color: #000;
}

.main_case_box_2 {
  background-image: url("../source/img/case/FOXBAT.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}
.main_case_box_2 a {
  color: #fff;
}
.main_case_box_2 p {
  color: #fff;
}

.main_case_box_2:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #000;
  opacity: 0.7;
  border-radius: 5px;
}

.main_case_box_3 {
  background-image: url("../source/img/case/MULTIMARKET.BY.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}
.main_case_box_3 a {
  color: #fff;
}
.main_case_box_3 p {
  color: #fff;
}

.main_case_box_3:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(302.67deg, #502B7B 34.56%, rgba(58, 18, 104, 0.47) 95.21%);
  opacity: 0.7;
  border-radius: 5px;
}

.main_case_box_4 {
  background-image: url("../source/img/case/Lstandard.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}
.main_case_box_4 a {
  color: #fff;
}
.main_case_box_4 p {
  color: #fff;
}

.main_case_box_4:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(302.67deg, #4c2974 34.56%, rgba(38, 11, 68, 0.47) 98%);
  opacity: 0.7;
  border-radius: 5px;
}

.main_case_box_5 {
  background-image: url("../source/img/case/BRELKI_OBLOZHKI.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}
.main_case_box_5 a {
  color: #000;
}
.main_case_box_5 p {
  color: #000;
}
.main_case_box_5 p span {
  color: #42217a;
}

.main_case_box_6 {
  background-color: #000;
}
.main_case_box_6 a {
  color: #fff;
}

/*Кто мы*/
.main_about_container {
  width: 100%;
  height: 200px;
  box-shadow: 0px 4px 16px rgba(69, 31, 114, 0.71);
  border-radius: 15px;
}

.main_about_box_right {
  background-color: #451F72;
  width: 40%;
  height: 100%;
  border-radius: 0 15px 15px 0;
}

.main_about_box_left {
  width: 60%;
  height: 100%;
  background-color: #000;
  color: #fff;
  border-radius: 15px 0 0 15px;
}

.main_about_wrap {
  height: 100%;
  justify-content: flex-start;
}

.main_about_button {
  margin-left: 20px;
}
.main_about_button .button {
  display: block;
  background-color: #fff;
  color: #000;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  padding: 0 23px;
  width: auto;
}
.main_about_button .button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main_about_text {
  padding: 30px;
  line-height: 1.5em;
  font-weight: 600;
}
.main_about_text p {
  margin-bottom: 10px;
}
.main_about_text p span {
  color: #451F72;
}

/*Клиенты*/
.main_clients {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.main_clients_row {
  justify-content: space-between;
  margin-top: 20px;
}

.main_clients_box {
  border-radius: 5px;
  width: 370px;
  height: 200px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 22px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.main_clients_box a {
  width: 100%;
  height: 100%;
}
.main_clients_box a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.main_clients_box img {
  width: 80%;
  height: auto;
}

/*Отзывы*/
.main_reviews {
  width: 100%;
  text-align: center;
  background-color: #f5f5f5;
  padding-bottom: 60px;
}
.main_reviews h2 {
  width: 100%;
}

.main_reviews_container {
  width: 100%;
}

.main_reviews_box {
  width: 300px;
  height: auto;
  padding-right: 20px;
}
.main_reviews_box img {
  width: 100%;
}

/* Контактная форма */
.main_contact-form {
  width: 100%;
}

.main_contact-form_wrap {
  width: 600px;
  flex-direction: column;
}

.main_contact-form_box_left {
  background-color: #42217a;
  color: #fff;
  height: 400px;
  justify-content: flex-end;
  width: 45%;
}

.main_contact-form_text {
  font-size: 18px;
  line-height: 1.3em;
  width: 60%;
}

.main_contact-form_text-big {
  font-size: 34px;
  line-height: 1.2em;
  margin-bottom: 20px;
}

.main_contact-form_box_arrow {
  margin-top: 60px;
  width: 60%;
}

.main_contact-form_box_right {
  justify-content: flex-start;
  width: 55%;
}

.main_contact-form_row {
  justify-content: start;
}

.callback-form-main input, .callback-form-main textarea {
  box-sizing: border-box;
  max-width: 350px;
  font-size: 14px;
  height: 18px;
  width: 100%;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  padding: 34px 30px;
  background-color: transparent;
  outline: none;
}

.main_contact-form_item {
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  flex: 0 0 50%;
  max-width: 50%;
  align-items: flex-start;
  box-sizing: border-box;
  align-content: flex-start;
}

.main_contact-form_item-text {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.3em;
}
.main_contact-form_item-text a {
  color: #42217a;
  text-decoration: underline;
}

input.btn-input__submit {
  background-color: #42217a;
  color: #fff;
  font-weight: bold;
  width: 100%;
  padding: 25px 17px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  max-width: 350px;
  margin: 0;
  max-height: 70px;
  height: 100%;
  box-sizing: border-box;
  line-height: 1.3;
}

/*Footer*/
.footer {
  background-color: #000;
  color: #fff;
  line-height: 1.3em;
}
.footer a {
  color: #fff;
  line-height: 1.5em;
}
.footer a:hover {
  text-decoration: underline;
}

.footer_wrap {
  width: 1180px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px 0;
}

.footer_bottom {
  padding: 10px 0;
  border-top: 1px solid #fff;
  text-align: center;
}